@import "bootstrap";
@import 'toastr';

body{
    background-color: #fafafa;
    color: #262626;
    font-size: 14px;
    margin: 0 20px;
}

.container{
    margin-top: 40px;;
}

.navbar-brand img{
   width: 30px;
   height: 30px;
}

.navbar{
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

input{
    width: 200px;
    border: 1px solid #fafafa;
    border-radius: 5px;
    padding: 10px;
}

.navbar-list{
    display: flex;

    li{
        list-style: none;
        margin: 10px 20px 0;
        align-self: center;
        font-size: 16px;
    }
}

.auth-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.auth-form, .footer{
    margin: 0 auto;
    width: fit-content;
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid rgb(210, 209, 209);


    a img{
        width: 200px;
        height: auto;
        margin: 0 auto;
        display: flex;
    }

    input{
        width: 300px;
        background-color: rgba(var(--b3f,250,250,250),1);
        border: 1px solid rgb(210, 209, 209);
    }

    .field{
        margin: 20px 0px;
    }

    .checkbox input{
        width: fit-content;
    }
}

.footer{
    margin-top: 20px;
    padding: 20px;
    width: 400px;
    text-align: center;
}

.user_profile_container{
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    img{
        width: 150px;
        height: 150px;
    }
}

.edit_container{
    background-color: white;
    border: 1px solid rgba(219,219,219, 1);
    display: flex;
    padding: 10px;
}

.tabs{
    width: 20%;
   h2{
       font-size: 18px;
       color: black;
       padding: 5px 10px;
       cursor: pointer;
   } 
}

.edit_form{
    .field{
        display: flex;
        margin: 20px 0px;
        label{
            align-self: center;
            margin-right: 10px;
            font-weight: 700;
            width: 100px;
        }
        span{
            margin-bottom: 20px;
        }
        input,
        textarea{
            height: 30px;
            border: 1px solid rgb(180, 180, 180);
            width: 300px;
            border-radius: 5px;
        }
        textarea{
            height: 50px;
            resize: none;
        }
    }

    .actions{
       margin: 20px 0px;
       display: flex;
       justify-content: flex-end;
       input{
            height: 30px;
        }
    }
}






